body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;

}

html{
        height:100%;


}

.container {

        margin-bottom: 14%;
}